doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    link(rel="stylesheet", href="../../../public/css/template-reset.css", data-inline)
    link(rel="stylesheet", href="../../../public/css/template-markdown.css", data-inline)
    link(rel="stylesheet", href="main.css", data-inline)
  body
    table.body(border='0', cellpadding='0', cellspacing='0')
      tr
        td
          div.banner
            div.logo
              a(href="https://github.com/chuangker/nice-mail" target="_blank") Nice Mail
            div.banner__background
            div.banner__content
              p.banner__title !{subject}
              p.banner__uptitle !{fields.subtitle}
          div.border-left
            .container
              .content
                table(cellpadding="0", cellspacing="0", border="0", align="center")
                  tr
                    td.markdown-body !{content}
          div.footer
            div.card
              div.header
                if fields.avatar
                  img(src= fields.avatar)
                h3 !{fields.nickName}
              p.desc !{fields.desc}

