doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= subject
    link(rel="stylesheet", href="style.css", data-inline)
    link(rel="stylesheet", href="markdown.css", data-inline)

  body
    table#backgroundTable(cellpadding="0", cellspacing="0", border="0")
      tr
        td
          div.banner
            div.logo
              a(href="https://github.com/chuangker/nice-mail" target="_blank") Nice Mail
            div.banner__background
            div.banner__content
              p.banner__title !{subject}
              p.banner__uptitle !{fields.subtitle}
          div.content
            table(cellpadding="0", cellspacing="0", border="0", align="center")
              tr
                td
                  div.markdown-body !{content}
          div.footer
            div.card
              div.header
                if fields.avatar
                  img(src= fields.avatar)
                h3 !{fields.nickName}
              p.desc !{fields.desc}

